<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/cerulean/bootstrap.min.css"/>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="mainWindow">
                Search system
            </a>
        </div>
    </div>
</nav>

<div>
    <a id="userHref" href="">
        <img id="userImg" src="" alt="image not found" height="100" class="img-circle"/>
    </a>
    <h3 id="userInfo"></h3>
    <h4>Searching results:</h4>

    <table>
        <tbody>
        <tr th:each="sb : ${followers}">
            <td th:text="${sb.name}"></td>
            <td th:text="${sb.screenName}"></td>
            <td th:text="${sb.followersCount}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>



<script th:inline="javascript">
    userInfo(/*[[${user}]]*/);
    function userInfo(user) {
        document.getElementById("userImg").src = user.originalProfileImageURLHttps;
        document.getElementById("userHref").href = "https://twitter.com/" + user.screenName;
    }
</script>

</html>