<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/cerulean/bootstrap.min.css"/>
    <style type="text/css">
        .mainColumn {
            margin-left : 10px;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="mainWindow">
                Search system
            </a>
        </div>
    </div>
</nav>

<div>
    <a id="userHref" href="">
        <img id="userImg" src="" alt="image not found" height="100" class="img-circle"/>
    </a>
    <h3 id="userInfo"></h3>
    <h4>Searching results:</h4>

    <table class="table table-striped table-hover ">
        <thead>
        <tr>
            <th>Fhoto</th>
            <th>Name</th>
            <th>Screen name</th>
            <th>Followers count</th>
            <th>Favourites count</th>
            <th>Friends count</th>
            <th>User id</th>
            <th>Date of create profile</th>
            <th>Location</th>
        </tr>
        </thead>
        <tbody>
        <tr class="info" th:each="sb : ${followers}">
            <td class="mycolumn"><img th:src="${sb.originalProfileImageURLHttps}" alt="image not found" height="50px" class="img-rounded"/></td>
            <td class="mycolumn" th:text="${sb.name}"></td>
            <td class="mycolumn" th:text="${sb.screenName}"></td>
            <td class="mycolumn" th:text="${sb.followersCount}"></td>
            <td class="mycolumn" th:text="${sb.favouritesCount}"></td>
            <td class="mycolumn" th:text="${sb.friendsCount}"></td>
            <td class="mycolumn" th:text="${sb.id}"></td>
            <td class="mycolumn" th:text="${sb.createdAt}"></td>
            <td class="mycolumn" th:text="${sb.location}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>



<script th:inline="javascript">
    userInfo(/*[[${user}]]*/);
    function userInfo(user) {
        document.getElementById("userImg").src = user.originalProfileImageURLHttps;
        document.getElementById("userHref").href = "https://twitter.com/" + user.screenName;
    }
</script>

</html>